*{
    margin:0;
    padding:0;
}
ol,ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    padding: 0 5%;
}
/*====== banner part start =====*/
.banner-part{
    display: flex;
    margin-top:50px;
    padding-top: 111px;
    background: #161616;
    border-radius: 30px;
    margin-bottom: 130px;
}
.banner-text{
    margin-left: 80px;
    width:50%;
}
.banner-text h1{
    font-size: 70PX;   
    font-weight: 700;
    font-family: 'poppins';
    color:#FFFFFF;
    line-height:80px;
}
.banner-text p{
    font-size: 16PX;
    font-family: 'poppins';
    color:#FFFFFF;
    padding-bottom:35px;
    padding-top:15px;
}
.banner-text a{
    padding:16px 25px;
    font-size: 20PX;
    font-family: 'poppins';
    color:#FFFFFF;
    background: #DD0000;
    border-radius:5px;
    font-weight: 700;
    transition:all linear .3s;
}
.banner-text a:hover{
    padding:16px 25px;
    font-size: 22PX;
    font-weight: 700;
    font-family: 'poppins';
    color:#ff0000;
    background: #ffffff;
    border-radius:5px;
    
}
.banner-photo{
    width:50%;
    margin-right:80px;
}
.banner-photo img {
    width: 100%;
    margin-left: 30px;
}

/*====== blog part start =====*/
.blog-part{
    display: flex;
    margin-bottom: 50px;
}

.blog-btn {
    width: 30%;
}
.blog-btn-left{
    background:#161616;
    padding-top:15px;
    padding-bottom: 40px;
    border-radius:10px;

}
.blog-btn h3{
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    cursor: pointer;
}
.blog-btn-left h3:hover{
    background: #DD0000;
}
.blog-btn-left h3:hover a{
    background: #DD0000;
    color:#FFFFFF
}
.blog-btn a{
    border-radius:5px;
    color:#161616;
    background: #FFFFFF;
}
.blog-btn .btn1{
    padding:16px 25px;
    font-size: 20PX;
    font-family: 'poppins';
    color:#161616;
    background: #FFFFFF;
    border-radius:5px;
}
.blog-btn .btn2{
    padding:16px 25px;
    font-size: 20PX;
    font-family: 'poppins';
    color:#161616;
    background: #FFFFFF;
    border-radius:5px;
}
.blog-btn .btn3{
    padding:16px 25px;
    font-size: 20PX;
    font-family: 'poppins';
    color:#161616;
    background: #FFFFFF;
    border-radius:5px;
}
.blog-item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width:70%;
    column-gap: 10px;
    margin-left: 10px;
}
.item1{
    margin-bottom: 20px;

}
.item1 h3 {
    font-size: 16PX;
    font-family: 'poppins';
    color: #222;
    border: 2px solid #161616;
    display: inline-block;
    padding: 3px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.item1 p{
    font-size: 18PX;
    font-family: 'poppins';
    color:#222;
    padding-bottom: 5px;
}
.item1 img{
    width:100%;
}
.item1 a{
    color:#838383;
    font-family: 'poppins';
}

/*--========= footer part start ========-*/
#footer{
    background: #161616;
    padding-top:100px;
    padding-bottom:50px;
}
.fotter-text h3{
    padding-bottom:30px;
    font-size: 40PX;
    font-family: 'poppins';
    color: #FFFFFF;
    text-align: center;
}
.footer-nav ul{
    display: flex;
    justify-content: center;
    margin-top:30px;
    gap:30px;
}
.footer-nav ul li{
    text-align: center;
}
.footer-nav ul li a{
    font-size: 16px;
    font-family: 'poppins';
    color:#B9B9B9;
}

/*========= match part =======*/
.image1 span{
        font-size: 30px;
    
}